@model FPCS.Web.Admin.Models.Fiz.FizCreateModel

<div class="row-fluid">
    <div class="span12 ">

        @using (Html.BeginForm("_Create", "Fiz", FormMethod.Post, new { id = "createFizForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="control-group">
                <div class="controls">
                    <h3 class="lighter block green">Заполните поля для добавления нового клиента</h3>
                </div>
            </div>

            <div class="controls">
                @Html.ValidationSummary(true)
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.FIO, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.FIO, new { placeholder = Html.DisplayNameFor(x => x.FIO), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.FIO)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Phone, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Phone, new { placeholder = Html.DisplayNameFor(x => x.Phone), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.CellPhone, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.CellPhone, new { placeholder = Html.DisplayNameFor(x => x.CellPhone), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.CellPhone)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.Email, new { placeholder = Html.DisplayNameFor(x => x.Email), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.FieldOfActivity, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(x => x.FieldOfActivity, new { placeholder = Html.DisplayNameFor(x => x.FieldOfActivity), @class = "span9" })
                    @Html.ValidationMessageFor(m => m.FieldOfActivity)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.DateOfBirth, new { @class = "control-label" })
                <div class="controls">
                    <div class="row-fluid input-append">
                        @Html.TextBoxFor(x => x.DateOfBirth, "{0:MM/dd/yyyy}", new { placeholder = Html.DisplayNameFor(x => x.DateOfBirth), @class = "span5 date-mask", data_date_format = "mm/dd/yyyy" })
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                        @Html.ValidationMessageFor(m => m.DateOfBirth)
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.WayOfInform, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(x => x.WayOfInform, Model.WayOfInforms, new { @class = "span9" })
                    @Html.ValidationMessageFor(m => m.WayOfInform)
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-success createFizSend" type="button">
                    <i class="icon-ok bigger-110"></i>
                    Сохранить
                </button>
                <button onclick="javascript:fpcs.closeDialog()" class="btn btn-info" type="button">
                    <i class="icon-reply bigger-110"></i>
                    Cancel
                </button>
            </div>
        }

    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        fpcs.initDatePicker();
        //travel.initCreateEditDialog();
    });
</script>
@Html.Script(Scripts.Render("~/bundles/jqueryval"))
